<div class="container">
  <div class="row">
    <div class="col-12">
    <h1 class="text-center"
    Highlight>students list</h1>
    <table>
      <tbody *ngFor="let i of students">
        <tr>
          <td>
            {{ i.name}}
          </td>
           <td>
            {{ i.contact}}
          </td>
          <td>
            {{ i.email}}
          </td>
          <td
          appColor>
            {{ i.city}}
          </td>
        </tr> 
      </tbody>
    </table>
    </div>
  </div>
</div>
<app-home></app-home>